<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8ae3c872-e075-4553-8e43-ac04c30eb0f7/resourcegroups/AirsofterAPI20240521182128ResourceGroup/providers/Microsoft.Web/sites/AirsofterAPI20240521182128</ResourceId>
    <ResourceGroup>AirsofterAPI20240521182128ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/8ae3c872-e075-4553-8e43-ac04c30eb0f7/resourceGroups/AirsofterAPI20240521182128ResourceGroup/providers/Microsoft.ApiManagement/service/AirsofterAPIapi/apis/AirsofterAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://airsofterapi20240521182128.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>b9ff787f-b53a-47c7-acf3-5f592df24c18</ProjectGuid>
    <MSDeployServiceURL>airsofterapi20240521182128.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AirsofterAPI20240521182128</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$AirsofterAPI20240521182128</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>